body {
  font-size: 100%;
  font: normal normal 12px Verdana, Geneva, Arial, Helvetica, sans-serif;
  margin: 10px;
  padding: 0;
  width: 855px;
}

header {
  font: normal normal 18px Verdana, Geneva, Arial, Helvetica, sans-serif;
  margin-left: 40px;
  min-height: 70px;
}

.name_and_author {
  padding: 4px 3px;
}

main {
  padding-top: 4px;
}

.player {
  overflow: auto;
}

.visualisation {
  float: left;
  width: 565px;
  padding-left: 10px;
}

.equalizer {
  float: right;
  width: 270px;
}

.buttons {
  min-height: 70px;
  padding-top: 20px;
  padding-left: 250px;
}

.download {
  overflow: auto;
}

.instruct {
  float: left;
  width: 250px;
  padding-top: 5px;
}

.drop_zone {
  border: 1px dashed #DCDCDC;
  text-align: center;
  float: right;
  min-height: 70px;
  width: 500px;
  margin-right: 100px;
}
